# Python
__pycache__/
*.pyc
.venv/
venv/

# Data (حسب السياسة اللي تبونها)
data/cache/
data/processed/

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Reports outputs
reports/figures/
